<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.alba" android:versionCode="10" android:versionName="1.8.0">
 <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:label="Alba · Tramonto · Notte" android:icon="@drawable/albi" android:theme="@style/AlbaTheme" android:allowBackup="false" android:usesCleartextTraffic="false" android:enableOnBackInvokedCallback="true">
  <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <intent-filter android:autoVerify="true">
    <action android:name="android.intent.action.VIEW"/>
    <category android:name="android.intent.category.DEFAULT"/>
    <category android:name="android.intent.category.BROWSABLE"/>
    <data android:scheme="https" android:host="alba.example.org"/>
   </intent-filter>
  </activity>
 </application>
</manifest>
